venv
**/__pycache__/
.idea

ext/neuron/models_*

scripts/commands/training_*
scripts/lesions_scripts
scripts/PV_SynthSeg_scripts
scripts/super-res/
scripts/SynthSeg_scripts

SynthSeg/boxplots.py
SynthSeg/check_*
SynthSeg/training_*
SynthSeg/predict_*
/scripts/tutorials/generated_examples/
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/image_t1_0.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/image_t1_1.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/image_t1_2.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/image_t1_3.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/image_t1_4.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/labels_t1_0.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/labels_t1_1.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/labels_t1_2.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/labels_t1_3.nii.gz
/SynthSeg/dcan/scripts/tutorials/generated_examples/original/labels_t1_4.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/image_t1_0.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/image_t1_1.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/image_t1_2.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/image_t1_3.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/image_t1_4.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/labels_t1_0.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/labels_t1_1.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/labels_t1_2.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/labels_t1_3.nii.gz
/SynthSeg/dcan/data/training_label_maps/original/labels_t1_4.nii.gz
/SynthSeg/dcan/data/training_label_maps/dcan/
/data/my_README_figures/SynthSeg_generated_bias_field.nii.gz
/data/my_README_figures/SynthSeg_generated_bias_field_0000.nii.gz
/data/my_README_figures/SynthSeg_generated_bias_field_0001.nii.gz
/data/my_README_figures/SynthSeg_generated_downsampling.nii.gz
/data/my_README_figures/SynthSeg_generated_downsampling_0000.nii.gz
/data/my_README_figures/SynthSeg_generated_downsampling_0001.nii.gz
/data/my_README_figures/SynthSeg_generated_gmm_sampling.nii.gz
/data/my_README_figures/SynthSeg_generated_gmm_sampling_0000.nii.gz
/data/my_README_figures/SynthSeg_generated_gmm_sampling_0001.nii.gz
/data/dcan/figure3/example1/b/lab/deformed_labels_1.nii.gz
/data/dcan/figure3/example1/c/lab/gmm_sampling_1_1.nii.gz
/data/dcan/figure3/example1/c/t1_im/gmm_sampling_1_0000.nii.gz
/data/dcan/figure3/example1/d/lab/bias_corruption_1_1.nii.gz
/data/dcan/figure3/example1/d/t1_im/bias_corruption_1_0000.nii.gz
/data/dcan/figure3/example1/e/lab/downsampling_1.nii.gz
/data/dcan/figure3/example1/e/t1_im/downsampling_1_0000.nii.gz
/data/dcan/figure3/example2/b/lab/deformed_labels_1.nii.gz
/data/dcan/figure3/example2/c/lab/gmm_sampling_1.nii.gz
/data/dcan/figure3/example2/c/t1_im/gmm_sampling_0000.nii.gz
/data/dcan/figure3/example2/d/lab/bias_corruption_1.nii.gz
/data/dcan/figure3/example2/d/t1_im/bias_corruption_0000.nii.gz
/data/dcan/figure3/example2/e/lab/downsampling_1.nii.gz
/data/dcan/figure3/example2/e/t1_im/downsampling_0000.nii.gz
/data/dcan/figure3/example1/c/lab/gmm_sampling_1.nii.gz
/data/dcan/figure3/example1/c/t1_im/gmm_sampling_0000.nii.gz
/data/dcan/figure3/example1/d/lab/bias_corruption_1.nii.gz
/data/dcan/figure3/example1/d/t1_im/bias_corruption_0000.nii.gz
/data/dcan/figure3/example1/e/lab/downsampling_1_1.nii.gz
/data/dcan/figure3/example1/e/t1_im/downsampling_0000.nii.gz
/data/dcan/figure3/example3/b/lab/deformed_labels_1.nii.gz
/data/dcan/figure3/example3/e/t1_im/downsampling_0000.nii.gz
/data/dcan/figure3/example3/e/lab/downsampling_1.nii.gz
/data/dcan/figure3/example3/d/t1_im/bias_corruption_0000.nii.gz
/data/dcan/figure3/example3/d/lab/bias_corruption_1.nii.gz
/data/dcan/figure3/example3/c/t1_im/gmm_sampling_0000.nii.gz
/data/dcan/figure3/example3/c/lab/gmm_sampling_1.nii.gz
/data/LRmask.nii.gz
/bin/LR_mask_registration_slurm.sh
/bin/run_ants.sh
/bin/correct_chirality.sh
/bin/left_right_mask_registration_correction_slurm.sh
/bin/left_right_registration_correction-11382936.err
/bin/left_right_registration_correction-11382936.out
/bin/left_right_registration_correction-11589961.err
/bin/left_right_registration_correction-11589961.out
/data/1mo_template_LRmask.nii.gz
/data/sub-00006_ses-20170806_aseg_mask.nii.gz
/data/sub-00006_T1w_acpc_dc_restore.nii.gz
/SynthSeg/dcan/img_processing/correct_chirality-11587352.err
/SynthSeg/dcan/img_processing/correct_chirality-11587352.out
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11618187.err
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11618187.out
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11618817.err
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11618817.out
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11618972.err
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11618972.out
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11627604.err
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11627604.out
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11631114.err
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11631114.out
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11636588.err
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_fold-11636588.out
/data/LR_masks/
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_folder-12030325.err
/SynthSeg/dcan/img_processing/chirality_correction/chirality_correction_for_folder-12030325.out
/SynthSeg/dcan/img_processing/chirality_correction/slurm-12030306.out
/data/labels_classes_priors/dcan/uniform/min_max_dict.json
/data/labels_classes_priors/dcan/normal/
/data/labels_classes_priors/dcan/uniform/540_549/
/data/labels_classes_priors/dcan/uniform/Task526/mins_maxes.npy
/data/labels_classes_priors/dcan/uniform/700_709/
